*{
    font-family: "Raleway", sans-serif;
}
#offer-button{
    border: 1px solid green;
}
.full{
    display: flex;
    border: 1px solid black;
}
.age{
    display: flex;
    border: 1px solid green;
}
